@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Oooh+Baby&family=Poiret+One&display=swap");
@font-face {
  font-family: "Ahsing";
  src: url(../font/Ahsing-Regular.otf);
}
@keyframes slide-up {
  from {
    opacity: 0.5;
    scale: 40%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    translate: 0%;
  }
}
@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.p {
  margin: 0;
}

.body {
  font-family: "Oooh Baby", cursive;
  font-family: "Poiret One", cursive;
  font-family: "Kristi", cursive;
  margin: 0;
}

.barra-mobile {
  font-family: "Poiret One", cursive;
  background: linear-gradient(-75deg, #3b4b51, #efd7c7);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  align-items: center;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 {
  display: flex;
  gap: 1rem;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 #check-menu {
  display: none;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-ul {
  font-family: "Poiret One", cursive;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.6rem;
  width: 80%;
  margin-top: 5rem;
  position: fixed;
  top: 0;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-ul .barra-paginas {
  list-style: none;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-ul .barra-paginas .barra-texto, .barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-secundaria .barra-ul .barra-paginas .barra-texto-activo, .barra-secundaria .barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-ul .barra-paginas .barra-texto-activo {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.barra-mobile .barra-nav-mobile .barra-iconos-1 .barra-ul .barra-paginas .barra-texto-activo {
  border-bottom: #7a7a7a 1px solid;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.barra-mobile .barra-nav-mobile .barra-title {
  font-family: "Ahsing";
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 2rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barra-principal {
  font-family: "Poiret One", cursive;
  background: linear-gradient(-75deg, #a1c0ce, #efd7c7);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  align-items: center;
}
.barra-principal .barra-title {
  font-family: "Ahsing";
  margin-left: 2rem;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 2rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white;
}
.barra-principal .barra-title-wave {
  font-family: "Ahsing";
  margin-left: 2rem;
  color: #a1c0ce;
  opacity: 1;
  font-size: 2rem;
  height: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  animation: wave 6s ease-in-out infinite;
}
.barra-principal .barra-iconos1 {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}
.barra-principal .barra-iconos1 #check-menu {
  display: none;
}
.barra-principal .barra-iconos1 label {
  display: none;
}
.barra-principal .barra-iconos1 .barra-ul {
  font-family: "Poiret One", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.4rem;
  width: 80%;
  margin-top: 5rem;
  position: fixed;
  top: 0;
}
.barra-principal .barra-iconos1 .barra-ul .barra-paginas {
  list-style: none;
}
.barra-principal .barra-iconos1 .barra-ul .barra-paginas .barra-texto, .barra-principal .barra-iconos1 .barra-secundaria .barra-ul .barra-paginas .barra-texto-activo, .barra-secundaria .barra-principal .barra-iconos1 .barra-ul .barra-paginas .barra-texto-activo {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.barra-principal .barra-iconos1 .barra-ul .barra-paginas .barra-texto-activo {
  border-bottom: #7a7a7a 1px solid;
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.barra-principal .barra-iconos2 {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
}
.barra-principal .barra-iconos2 .barra-buscador {
  display: flex;
}
.barra-principal .barra-iconos2 .barra-buscador .buscador {
  font-family: "Poiret One", cursive;
  border-radius: 20px 0 0 20px;
  height: 3rem;
  border-color: white;
  padding: 10px;
  background-color: #efd7c7;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.barra-principal .barra-iconos2 .barra-buscador button {
  border-color: white;
  border-radius: 0 20px 20px 0;
  height: 3rem;
  width: 50px;
  padding: 2px;
  background-color: #efd7c7;
}
.barra-principal .barra-iconos2 .barra-buscador button:hover {
  background-color: #d6b49e;
}
.barra-principal .barra-iconos2 img {
  font-size: 5rem;
  height: 2.5rem;
}

.barra-secundaria {
  font-family: "Poiret One", cursive;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.4rem;
  width: 100%;
  margin-top: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  z-index: 20;
}
.barra-secundaria .barra-ul {
  font-family: "Poiret One", cursive;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  height: 3.4rem;
  width: 80%;
  margin-top: 5rem;
  position: fixed;
  top: 0;
}
.barra-secundaria .barra-ul .barra-paginas {
  list-style: none;
}
.barra-secundaria .barra-ul .barra-paginas .barra-texto, .barra-secundaria .barra-ul .barra-paginas .barra-texto-activo {
  text-decoration: none;
  color: black;
  font-weight: lighter;
}
.barra-secundaria .barra-ul .barra-paginas .barra-texto-activo {
  border-bottom: #000000 0.5px solid;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 97vh;
  overflow: hidden;
}
.banner .banner-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-family: "Kristi", cursive;
  font-weight: lighter;
  color: white;
  position: relative;
  z-index: 5;
  text-shadow: 5px 5px #a1aba1;
}
.banner .bg-video {
  width: 100%;
  height: 97vh;
  z-index: -80;
  position: absolute;
  top: -5;
  left: 0;
  object-fit: cover;
}
.banner .capa {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  margin-right: 1.5rem;
}
.contact:hover {
  background-color: rgba(81, 98, 104, 0.137254902);
  color: white;
  z-index: 10;
}
.contact:hover::after {
  top: 0;
}
.contact .contact-img {
  position: fixed;
  width: 7rem;
  height: 7rem;
  background-color: #25D366;
  border-radius: 50%;
  text-align: center;
  z-index: 10;
  padding: 0 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.5s;
  overflow: hidden;
  color: white;
  font-size: 2rem;
  line-height: 4.2rem;
}
.contact .contact-img:hover {
  transform: translateY(-15px);
}
.contact .contact-img:hover .footer-img {
  color: white;
}
.contact .contact-img img {
  width: 110px;
  height: 110px;
  padding: 8px 15px 8px 0;
  color: black;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}

.temporada {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-family: "Poiret One", cursive;
}
.temporada .temporada-title {
  width: auto;
  max-width: 90vw;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  margin-top: 2rem;
}
.temporada .temporada-parrafo {
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  width: auto;
  max-width: 95%;
}
.temporada .temporada-fotos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}
.temporada .temporada-fotos .temporada-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 25rem;
}
.temporada .temporada-fotos .temporada-container .temporada-img {
  height: 35rem;
  width: 25rem;
  cursor: pointer;
}
.temporada .temporada-fotos .temporada-container .temporada-img:hover {
  height: 35rem;
  background-color: grey;
  text-shadow: #516268;
  transform: scale(1.08);
  transition: transform 0.8s;
}
.temporada .temporada-fotos .temporada-container .temporada-img-texto {
  color: white;
  display: flex;
  position: absolute;
  font-size: 5.5rem;
  font-family: "Kristi", cursive;
  text-shadow: 0 0 3px grey;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.temporada .temporada-fotos .temporada-container .temporada-texto {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  margin-bottom: 1rem;
  width: 25rem;
  margin-top: 2rem;
}

.newsletter {
  height: max-content;
  width: 100%;
  font-family: "Poiret One", cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  padding: 2% 0 1% 0;
}
.newsletter .newsletter-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 2%;
}
.newsletter .newsletter-div .newsletter-title {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
  align-items: center;
}
.newsletter .newsletter-div .newsletter-parrafo {
  display: flex;
  width: auto;
  max-width: 90%;
  margin-bottom: 0.5;
  font-size: 1.3rem;
}
.newsletter .newsletter-div .newsletter-subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newsletter .newsletter-div .newsletter-subscribe .form-label {
  background-color: white;
  margin: 0.8rem;
  border-radius: 5px;
  border-top: #a1aba1;
  border-left: #a1aba1;
  border-right: #efd7c7;
  height: 2rem;
  width: 20vw;
  min-width: fit-content;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  padding-left: 2%;
}
.newsletter .newsletter-div .newsletter-subscribe .form-submit {
  background-color: #efd7c7;
  margin: 10px;
  width: 6vw;
  min-width: fit-content;
  height: 2rem;
  border-radius: 5px;
  color: white;
  border-color: #efd7c7;
  font-family: "Poiret One", cursive;
  font-weight: bolder;
}
.newsletter .newsletter-div .newsletter-subscribe .form-submit:hover {
  background-color: #e4c3ae;
}
.newsletter .map-container {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 2% 0 4% 0;
}
.newsletter .map-container .newsletter-map {
  width: 95%;
  height: 20vh;
  z-index: -1;
  border-radius: 10px;
}

.footer {
  background-color: #ebebeb;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.footer .footer-div .footer-logo {
  width: 9.7rem;
  height: 9.7rem;
}
.footer .footer-div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-div2 .footer-name {
  display: flex;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  justify-content: center;
  margin-bottom: 1.2rem;
}
.footer .footer-div2 .barra-redes {
  display: flex;
  justify-content: center;
}
.footer .footer-div2 .barra-redes .footer-img {
  font-size: 2rem;
  line-height: 4rem;
  width: 100%;
  height: 4.8rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 5px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}
.footer .footer-div2 .barra-redes .footer-img:hover::after {
  top: 0;
}
.footer .footer-div2 .barra-redes .footer-img:hover .footer-img {
  color: white;
}
.footer .footer-div2 .barra-redes .footer-img:hover {
  transform: translateY(-10px);
}
.footer .footer-div2 .barra-redes .footer-img::after {
  content: "";
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: linear-gradient(-45deg, #a1aba1, #efd7c7);
  position: absolute;
  transition: 0.5s;
}
.footer .footer-div2 .barra-redes .footer-img img {
  width: 4.8rem;
  height: 4.8rem;
  padding: 0.6rem;
  color: black;
  position: relative;
  z-index: 5;
  transition: color 0.5s;
}

.ending {
  font-family: "Poiret One", cursive;
  background-color: #f7f6f6;
  height: max-content;
  padding: 1.2rem;
}
.ending .ending-barra {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-bottom: 1.2rem;
  padding: 0;
  flex-wrap: wrap;
}
.ending .ending-barra .ending-paginas .ending-texto {
  text-decoration: none;
  color: black;
}
.ending .ending-barra .separador {
  margin: 0;
  padding: 0;
  margin: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ending .ending-parrafo {
  margin: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prod-banner {
  background-color: #a1c0ce;
  height: 10rem;
  margin-bottom: 2rem;
  margin-top: 7rem;
  display: flex;
  align-items: self-end;
  justify-content: space-evenly;
}
.prod-banner .prod-banner-title {
  display: flex;
  font-size: 7rem;
  font-family: "Kristi", cursive;
  font-weight: 50;
  color: white;
  z-index: 10;
}

.product {
  margin-bottom: 2rem;
}
.product .product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  max-width: 100vw;
  margin-bottom: 2%;
}
.product .product-container .product-link {
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product .product-container .product-link .product-img {
  width: 40vw;
  height: 60vh;
  min-width: 20vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 70vh;
  max-width: 40vw;
}
.product .product-container .product-link .product-img:hover {
  background-color: grey;
  opacity: 0.7;
  text-shadow: #516268;
}
.product .product-container .product-link .product-item {
  text-decoration: none;
}
.product .product-container .product-link .product-item .product-name, .product .product-container .product-link .product-item .product-price {
  font-family: "Poiret One", cursive;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
}

.pagination {
  margin-top: 1.2rem;
  width: 100%;
  justify-content: center;
  color: black;
}
.pagination .page-link {
  color: black;
}

.sale-banner .banner-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sale-banner .banner-container img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
.sale-banner .banner-container div {
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.sale-banner .banner-container div h1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  font-size: 14rem;
  text-shadow: 10px 10px #a1aba1;
  margin: 0;
}
.sale-banner .banner-container div button {
  position: absolute;
  top: 85%;
  left: 25%;
  height: 3.5rem;
  width: 10rem;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  border-radius: 5px;
  margin: 0;
  border: 0;
  font-family: "Poiret One", cursive;
  font-size: 2rem;
  font-weight: 500;
  background-color: #a1aba1;
}
.sale-banner .banner-container div button:hover {
  background-color: #7b847b;
  color: white;
}

.product-sale .prod-banner2 {
  display: flex;
  height: 7rem;
  position: relative;
  justify-content: start;
  align-items: flex-end;
  background-color: rgba(59, 75, 81, 0.231372549);
}
.product-sale .prod-banner2 .prod-banner-title2 {
  font-size: 4rem;
  font-family: "Poiret One", cursive;
  font-weight: 50;
  color: black;
  position: absolute;
  margin-left: 4.8vw;
}
.product-sale h2 {
  font-family: "Poiret One", cursive;
  margin: 1% 0 1% 9%;
  font-size: 3rem;
}
.product-sale .product-container-sale {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-content: center;
  margin-bottom: 2%;
}
.product-sale .product-container-sale .product-link-sale {
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.product-sale .product-container-sale .product-link-sale .product-img-sale {
  height: 60vh;
  width: 40vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 50vh;
}
.product-sale .product-container-sale .product-box-sale {
  display: flex;
  justify-content: space-between;
}
.product-sale .product-container-sale .product-box-sale .product-item-sale {
  text-decoration: none;
}
.product-sale .product-container-sale .product-box-sale .product-item-sale .product-name-sale, .product-sale .product-container-sale .product-box-sale .product-item-sale .product-price-sale {
  font-family: "Poiret One", cursive;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0;
  width: fit-content;
}
.product-sale .product-container-sale .product-box-sale .product-action-sale {
  display: flex;
  align-items: center;
}
.product-sale .product-container-sale .product-box-sale .product-action-sale .product-cart img {
  height: 2rem;
  margin: 0.5rem;
}
.product-sale .product-container-sale .product-box-sale .product-action-sale .product-wishlist img {
  height: 2rem;
  margin: 0.5rem;
}

.carousel-inner {
  margin-top: 6.9rem;
}
.carousel-inner .carousel-item {
  height: auto;
}
.carousel-inner .carousel-item img {
  height: 70vh;
  object-fit: cover;
  transition: ease-in-out 0.5ms;
}
.carousel-inner .carousel-item .carousel-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.carousel-inner .carousel-item .carousel-text h2 {
  position: absolute;
  z-index: 10;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Poiret One", cursive;
  font-weight: 700;
  font-size: 4rem;
  text-shadow: #6a8474 3px 3px 3px;
}

.coleccion-texto {
  padding: 1%;
  background-color: rgba(239, 215, 199, 0.3294117647);
  width: 100vw;
}
.coleccion-texto p {
  font-family: "Poiret One", cursive;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1%;
  padding-right: 1%;
}

.historia-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.historia-section .historia-title {
  margin-top: 9rem;
  font-family: "Ahsing";
  font-size: 10rem;
  color: #3b4b51;
}

.historia {
  display: grid;
  font-family: "Poiret One", cursive;
  font-size: 1.3rem;
  height: auto;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: fit-content 38% fit-content fit-content;
  grid-template-areas: "historia-container historia-container historia-container" "historia-img historia-img historia-img" "historia-parrafo historia-parrafo historia-parrafo" "historia-logo historia-logo historia-logo";
}
.historia .historia-container {
  grid-area: historia-container;
  padding: 2%;
}
.historia .historia-container::first-letter {
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Ahsing";
}
.historia .historia-img {
  overflow: hidden;
  grid-area: historia-img;
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-areas: "h-i-1 h-i-2 h-i-3";
  margin-bottom: 2%;
  view-timeline-name: --imagen;
  view-timeline-axis: block;
  animation-timeline: --imagen;
  animation-name: slide-up;
  animation-range: entry 30% cover 50%;
  animation-fill-mode: both;
}
.historia .historia-img .h-i-1 {
  grid-area: h-i-1;
  padding: 3%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.historia .historia-img .h-i-2 {
  grid-area: h-i-2;
  padding: 3%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.historia .historia-img .h-i-3 {
  grid-area: h-i-3;
  padding: 1.5%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.historia .historia-parrafo-img {
  grid-area: historia-parrafo;
  padding: 1%;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: "parrafo h-i-4";
}
.historia .historia-parrafo-img p {
  grid-area: parrafo;
}
.historia .historia-parrafo-img .h-i-4 {
  grid-area: h-i-4;
  opacity: 1;
  width: 90%;
  margin-left: 4%;
  view-timeline-name: --imagen;
  view-timeline-axis: block;
  animation-timeline: --imagen;
  animation-name: slide-in;
  animation-range: entry 30% cover 55%;
  animation-fill-mode: both;
}
.historia .historia-img2 {
  display: flex;
  flex-direction: column;
  grid-area: historia-img2;
  justify-content: space-around;
}
.historia .historia-logo {
  grid-area: historia-logo;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: fit-content 70%;
  grid-template-areas: "logo-descripcion logo-descripcion logo-descripcion" "h-i-5 h-i-6 h-i-7";
  margin: 2%;
}
.historia .historia-logo .logo-descripcion {
  grid-area: logo-descripcion;
  width: 100%;
  margin-bottom: 2%;
}
.historia .historia-logo .h-i-5 {
  grid-area: h-i-5;
  opacity: 1;
  width: 90%;
  padding: 10%;
}
.historia .historia-logo .h-i-6 {
  grid-area: h-i-6;
  opacity: 1;
  width: 90%;
  padding: 10%;
}
.historia .historia-logo .h-i-7 {
  grid-area: h-i-7;
  opacity: 1;
  padding: 10%;
  width: 90%;
}

/* MEDIA QUERIES */
@media (orientation: landscape) and (max-height: 480px) {
  .barra-principal, .barra-secundaria {
    display: none;
  }
  .barra-mobile #check-menu:checked ~ .barra-ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 75vh;
    width: 40vw;
    left: 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.365);
    padding-top: 1rem;
  }
  .barra-nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100vw;
  }
  .barra-nav-mobile .barra-iconos-1, .barra-nav-mobile img {
    width: 2.5rem;
    margin: 3%;
  }
  .barra-nav-mobile .barra-title {
    margin: 0;
  }
  .barra-principal .barra-title {
    margin: 0;
  }
  .barra-principal .barra-iconos2 {
    display: none;
  }
  .temporada .temporada-title {
    font-size: 2rem;
  }
  .newsletter .map-container {
    min-height: 10rem;
  }
  .newsletter .map-container .newsletter-map {
    min-height: 10rem;
  }
  .ending .ending-barra {
    flex-wrap: wrap;
    gap: 0.2rem;
    margin-bottom: 0.5rem;
  }
  .prod-banner {
    height: 150px;
    margin-top: 3.4rem;
  }
  .product .product-container .product-link {
    text-decoration: none;
    height: auto;
  }
  .product .product-container .product-link .product-img {
    width: 25rem;
    object-fit: cover;
  }
  .sale-banner .banner-container div h1 {
    font-size: 5rem;
  }
  .sale-banner .banner-container button {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 8rem;
  }
  .product-sale .product-wishlist img, .product-sale .product-cart img {
    height: 1.5rem;
  }
  .carousel-inner {
    margin-top: 5rem;
  }
  .carousel-inner .carousel-item img {
    height: 100vh;
  }
  .carousel-text h2 {
    top: 5%;
  }
}
@media (max-width: 480px) {
  .barra-principal, .barra-secundaria {
    display: none;
  }
  .barra-mobile #check-menu:checked ~ .barra-ul {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 55vh;
    width: 70vw;
    left: 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.365);
    padding-top: 1rem;
  }
  .barra-mobile {
    display: flex;
  }
  .barra-mobile .barra-nav-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    width: 100vw;
  }
  .barra-mobile .barra-nav-mobile img, .barra-mobile .barra-nav-mobile .barra-iconos-1 {
    height: 2.5rem;
  }
  .barra-mobile .barra-nav-mobile .barra-title {
    margin-left: 0;
  }
  .banner .banner-title {
    display: flex;
    flex-direction: column;
  }
  .banner .banner-title p {
    font-size: 7rem;
  }
  .temporada {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .temporada .temporada-title {
    font-size: 3.8rem;
  }
  .temporada .temporada-fotos .temporada-container {
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .temporada .temporada-fotos .temporada-container .temporada-img {
    height: 32rem;
    padding: 10%;
    width: 100vw;
  }
  .temporada .temporada-fotos .temporada-container .temporada-img:hover {
    display: none;
  }
  .temporada .temporada-fotos .temporada-container .temporada-texto {
    margin: 0px;
    width: 100vw;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5%;
  }
  .newsletter .newsletter-div {
    margin-bottom: 1rem;
  }
  .footer {
    height: auto;
    gap: 0;
  }
  .footer .footer-div {
    margin-top: 1.2rem;
  }
  .footer .footer-div2 {
    margin-bottom: 1.2rem;
  }
  .footer .footer-div2 .barra-redes {
    gap: 0rem;
    width: 95vw;
  }
  .footer .footer-div2 .barra-redes .footer-img a {
    height: 2rem;
    line-height: 0;
    width: 90vw;
  }
  .footer .footer-div2 .barra-redes .footer-img a img {
    height: 5rem;
    width: 5rem;
  }
  .ending {
    padding: 1rem;
  }
  .ending .ending-barra {
    gap: 0.2rem;
    margin-bottom: 0.5rem;
  }
  .product .product-container {
    flex-direction: column;
  }
  .product .product-container .product-link {
    width: 100vw;
    padding: 5%;
  }
  .product .product-container .product-link .product-img {
    height: 60vh;
    width: 100%;
    max-width: 100%;
  }
  .sale-banner .banner-container img {
    height: 95vh;
    object-fit: cover;
    background-position: bottom;
  }
  .sale-banner .banner-container div h1 {
    font-size: 8rem;
    left: 50%;
    top: 60%;
  }
  .sale-banner .banner-container div button {
    margin-top: 5%;
    left: 50%;
  }
  .product-sale .product-container-sale {
    width: 100vw;
    padding: 5%;
  }
  .product-sale .product-container-sale .product-link-sale .product-img-sale {
    height: 60vh;
    width: 80vw;
    max-width: 100%;
  }
  .product-sale .product-container-sale .product-link-sale .product-box-sale .product-action-sale .product-wishlist img {
    margin: 0.5%;
  }
  .prod-banner {
    height: 150px;
    margin-top: 3.4rem;
  }
  .carousel-inner {
    margin-top: 3.4rem;
  }
  .historia-section .historia-title {
    font-size: 5rem;
    margin-top: 7rem;
  }
  .historia .historia-container p {
    padding: 3%;
  }
  .historia .historia-img {
    display: flex;
    flex-direction: column;
  }
  .historia .historia-parrafo-img {
    display: flex;
    flex-direction: column;
  }
  .historia .historia-parrafo-img .h-i-4 {
    overflow: hidden;
  }
}
@media (max-width: 768px) {
  .ending-barra {
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  .newsletter-map {
    width: fit-content;
  }
  .product-container {
    padding: 0.5%;
  }
  .product-container .product-img {
    height: 44vh;
    width: auto;
    max-height: 70vh;
    max-width: 40vw;
  }
  .historia .historia-container p {
    padding: 3%;
  }
  .historia .historia-img {
    display: flex;
    flex-direction: column;
  }
  .historia .historia-parrafo-img {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  .historia .historia-container p {
    padding: 3%;
  }
  .historia .historia-img {
    display: flex;
    flex-direction: column;
  }
  .historia .historia-parrafo-img {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
