@import "./partials/_fonts.scss";
@import "./partials/_variables.scss";
@import "./partials/_condicionales.scss";
@import "./partials/_bucles.scss";
@import "./partials/_animations.scss";

// RESET //
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p {
    margin: 0;
}

.body {
    font-family: 'Oooh Baby', cursive;
    font-family: 'Poiret One', cursive;
    font-family: 'Kristi', cursive;
    margin: 0;
}

//-------------------- INDEX.HTML --------------------//

//INICIO HEADER//
// BARRA MOBILE
.barra-mobile {
    font-family: $font-principal;
    background: linear-gradient(-75deg, #3b4b51, #efd7c7);
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    align-items: center;

    .barra-nav-mobile {
        .barra-iconos-1 {
                display: flex;
                gap: 1rem;

                #check-menu {
                    display: none
            }

            .barra-ul {
                font-family: $font-principal;
                display: none;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.5rem;
                font-weight: bold;
                height: 3.6rem;
                width: 80%;
                margin-top: 5rem;
                position: fixed;
                top: 0;

                .barra-paginas {
                    list-style: none;

                    .barra-texto {
                        text-decoration: none;
                        color: black;
                        font-weight: lighter;
                    }

                    .barra-texto-activo {
                        border-bottom: #7a7a7a 1px solid;
                        text-decoration: none;
                        color: black;
                        font-weight: lighter
                    }
                }
            }
        }

        .barra-title {
            font-family: $font-logo;
            // margin-left: 2rem;
            color: rgb(255, 255, 255);
            opacity: 1;
            font-size: 2rem;
            height: 4rem;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

// BARRA PRINCIPAL
.barra-principal {
    font-family: $font-principal;
    background: linear-gradient(-75deg, $color-principal,$color-secundario);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    align-items: center;

    .barra-title {
        font-family: $font-logo;
        margin-left: 2rem;
        color: rgb(255, 255, 255);
        opacity: 1;
        font-size: 2rem;
        height: 4rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-shadow: -1px -1px 0 white, 1px -1px 0 white, 1px 1px 0 white, -1px 1px 0 white;
    }

    .barra-title-wave{
        font-family: $font-logo;
        margin-left: 2rem;
        color: $color-principal;
        opacity: 1;
        font-size: 2rem;
        height: 4rem;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        animation: wave 6s ease-in-out infinite;
    }

    .barra-iconos1 {
        display: flex;
        gap: 1rem;
        margin-right: 2rem;

        #check-menu {
            display: none;
        }
        label{
            display: none;
        }

        .barra-ul {
            font-family: $font-principal;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.5rem;
            font-weight: bold;
            height: 3.4rem;
            width: 80%;
            margin-top: 5rem;
            position: fixed;
            top: 0;

            .barra-paginas {
                list-style: none;

                .barra-texto {
                    text-decoration: none;
                    color: black;
                    font-weight: lighter;
                }

                .barra-texto-activo {
                    border-bottom: #7a7a7a 1px solid;
                    text-decoration: none;
                    color: black;
                    font-weight: lighter
                }
            }
        }
    }

    .barra-iconos2 {
        display: flex;
        gap: 1rem;
        margin-right: 2rem;

        .barra-buscador {
            display: flex;

            .buscador {
                font-family: $font-principal;
                border-radius: 20px 0 0 20px;
                height: 3rem;
                border-color: white;
                padding: 10px;
                background-color: $color-secundario;
                font-size: 1.2rem;
                font-weight: bold;
                color: white;
            }

            button {
                border-color: white;
                border-radius: 0 20px 20px 0;
                height: 3rem;
                width: 50px;
                padding: 2px;
                background-color: $color-secundario;

                &:hover {
                    background-color: #d6b49e;
                }
            }
        }

        img {
            font-size: 5rem;
            height: 2.5rem;
        }
    }
}

// BARRA SECUNDARIA
.barra-secundaria {
    font-family: $font-principal;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    height: 3.4rem;
    width: 100%;
    margin-top: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
    z-index: 20;

    .barra-ul{
        font-family: $font-principal;
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.5rem;
        font-weight: bold;
        height: 3.4rem;
        width: 80%;
        margin-top: 5rem;
        position: fixed;
        top: 0;

        .barra-paginas{
            list-style: none;
            
            .barra-texto{
                text-decoration: none;
                color: black;
                font-weight:lighter;
                
            }
            
            .barra-texto-activo{
                @extend .barra-texto;
                border-bottom: #000000 0.5px solid;
            }
        }
    }
}

// BANNER
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 97vh;
    overflow: hidden;

    .banner-title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8rem;
        font-family: $font-secundaria;
        font-weight: lighter;
        color: white;
        position: relative;
        z-index: 5;
        text-shadow: 5px 5px #a1aba1;
    }

    .bg-video {
        width: 100%;
        height: 97vh;
        z-index: -80;
        position: absolute;
        top: -5;
        left: 0;
        object-fit: cover;
    }

    .capa {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        opacity: 0.2;
    }
}
//FIN DE HEADER//

//INICIO MAIN//
// CONTACTO
.contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:end;
    margin: 1.5rem;
    
    &:hover{
        background-color: #51626823;
        color: white;
        z-index: 10;
    }
    &:hover::after{
        top: 0;
    }    
    .contact-img{
        position: fixed;
        width: 7rem;    
        height: 7rem;
        background-color: #25D366;
        border-radius: 50%;
        text-align: center;
        z-index: 10;
        padding: 0 10px;
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
        transition: transform 0.5s;
        overflow: hidden;
        color: white;
        font-size: 2rem;
        line-height: 4.2rem;

        &:hover{
            transform: translateY(-15px);
        }

        &:hover .footer-img{
            color: white;
        }

        img{
            width: 110px;
            height: 110px;
            padding: 8px 15px 8px 0;
            color: black;
            position: relative;
            z-index: 10;
            transition: color 0.5s;
        }
    }
}

// TEMPORADA
.temporada{
    display: flex;
    justify-content: center; flex-direction: column;
    align-items: center;
    height: auto;
    font-family: $font-principal;

    .temporada-title{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        margin-top: 2rem;
    }
    
    .temporada-parrafo{
        font-size: 1.5rem;
        font-weight: lighter;
        margin-top: 0.5rem;
        margin-bottom: 2.5rem;
        width: auto;
        max-width: 95%;
    }

    .temporada-fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:1em;
        justify-content: center;

        .temporada-container{
            display: flex; 
            flex-direction: column;
            justify-content: center;
            position: relative;
            width: 25rem; 

            .temporada-img{
                height: 35rem;
                width: 25rem;
                cursor: pointer;

                &:hover{
                    height: 35rem;
                    background-color: grey;
                    // opacity: 0.7;
                    text-shadow: #516268;
                    transform: scale(1.08);
                    transition: transform 0.8s;
                }
            }

            .temporada-img-texto{
                color: white;
                display: flex;
                position: absolute;
                font-size: 5.5rem;
                font-family: $font-secundaria;
                text-shadow: 0 0 3px grey;
                justify-content: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }
            
            .temporada-texto{
                display: flex;
                justify-content: center;
                color: black;
                font-size: 1.5rem;
                text-decoration: none;
                margin-bottom: 1rem;
                width: 25rem;
                margin-top: 2rem;
            }
        }
    }
}

// NEWSLETTER
.newsletter{
    height:max-content;
    width: 100%;
    font-family: $font-principal;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding:2% 0 1% 0;

    .newsletter-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-bottom: 2%;

        .newsletter-title{
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin-bottom: 1.2rem;
            align-items: center;
        }

        .newsletter-parrafo{
            display: flex;
            width: auto;
            max-width: 90%;
            margin-bottom: 0.5;
            font-size: 1.3rem;
        }
        
        .newsletter-subscribe{
            display: flex; flex-direction: column;
            align-items: center;

            .form-label{
                background-color: white;
                margin: 0.8rem;
                border-radius: 5px;
                border-top: #a1aba1;
                border-left: #a1aba1;
                border-right: $color-secundario;
                height: 2rem;
                width: 20vw;
                min-width: fit-content;
                font-family: $font-principal;
                font-weight: bolder;
                padding-left: 2%;
            }
            .form-submit{
                background-color: $color-secundario;
                margin: 10px;
                width: 6vw;
                min-width: fit-content;
                height: 2rem;
                border-radius: 5px;
                color: white;
                border-color: $color-secundario;
                font-family: $font-principal;
                font-weight: bolder;

                &:hover{
                    background-color: #e4c3ae ;
                }
            }
        }
    }

    .map-container{
        width: 50%;
        display: flex;
        justify-content: center;
        margin: 2% 0 4% 0;

        .newsletter-map{
            width: 95%;
            height: 20vh;
            z-index: -1;
            border-radius: 10px;
        }
    } 
}
//FIN DE MAIN//

//INICIO FOOTER//
//FOOTER
.footer{
    background-color: #ebebeb;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .footer-div{
        .footer-logo{
            width: 9.7rem;
            height: 9.7rem;
        }
    }

    .footer-div2{
        display: flex; 
        flex-direction: column;
        justify-content: center;

        .footer-name{
            display: flex;
            font-family: $font-principal;
            font-size: 2rem;
            justify-content: center;
            margin-bottom: 1.2rem;
        }
        .barra-redes{
            display: flex;
            justify-content: center;

            .footer-img{
                font-size: 2rem;
                line-height: 4rem;
                width: 100%;
                height: 4.8rem;
                align-items: center;
                text-decoration: none;
                box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
                margin: 0 10px;
                border-radius: 50%;
                position: relative;
                overflow: hidden;
                transition: transform 0.5s;

                &:hover::after{
                    top: 0;
                }
                
                &:hover .footer-img{
                    color: white;
                }
                
                &:hover{
                    transform: translateY(-10px);
                }
                
                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    top:-90px;
                    left: 0;
                    background: linear-gradient(-45deg, #a1aba1, #efd7c7);
                    position: absolute;
                    transition: 0.5s;
                }

                img{
                    width: 4.8rem;
                    height: 4.8rem;
                    padding: 0.6rem;
                    color: black;
                    position: relative;
                    z-index: 5;
                    transition: color 0.5s;
                }
            }
        }
    }
}

//ENDING
.ending{
    font-family: $font-principal;
    background-color: #f7f6f6;
    height: max-content;
    padding: 1.2rem;

    .ending-barra{
        display: flex;
        gap: 0.5rem;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
        list-style: none;
        margin-bottom: 1.2rem;
        padding: 0;
        flex-wrap: wrap;

        .ending-paginas{
            .ending-texto{
                text-decoration: none;
                color: black;
            }
        }
        
        .separador{
            margin: 0;
            padding: 0;
            margin: 0.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ending-parrafo{
        margin: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


//-------------------- PRODUCTOS.HTML --------------------//

//SECCION BANNER
.prod-banner{
    background-color: #a1c0ce ;
    height: 10rem;
    margin-bottom: 2rem;
    margin-top: 7rem;
    display: flex;
    align-items:self-end;
    justify-content:space-evenly;
    
    .prod-banner-title{
        display: flex;
        font-size: 7rem;
        font-family: $font-secundaria;
        font-weight: 50;
        color: white;
        z-index: 10;
    }
}

.product{
    margin-bottom: 2rem;

    .product-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-content: center;
        max-width: 100vw;
        margin-bottom: 2%;

        .product-link{
            text-decoration: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .product-img{
                width: 40vw;
                height: 60vh;
                min-width: 20vw;
                object-fit: cover;
                overflow: hidden;
                max-height: 70vh; 
                max-width: 40vw;

                &:hover{
                    background-color: grey;
                    opacity: 0.7;
                    text-shadow: #516268
                }
            }

            .product-item{
                text-decoration: none;

                .product-name, .product-price{
                    font-family: $font-principal;
                    color: black;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }      
        }
    }  
}

//BARRA DE PAGINAS 
.pagination{
    margin-top: 1.2rem;
    width: 100%;
    justify-content: center;
    color: black;

    .page-link{
        color: black
    }
}



//-------------------- SALE.HTML --------------------//

// BANNER SALE
.sale-banner{
    .banner-container{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    
        img{
            object-fit:cover;
            width: 100%;
            height: 100vh;
            position: relative;
        }
    
        div{
            display: flex;
            flex-direction: column;
            margin: 0%;
            
            h1{
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: white;
                font-size: 14rem;
                text-shadow: 10px 10px #a1aba1;
                margin: 0;
            }
    
            button{
                position: absolute;
                top: 85%;
                left: 25%;
                height: 3.5rem;
                width: 10rem;
                transform: translate(-50%, -50%);
                z-index: 10;
                color: white;
                border-radius: 5px;
                margin: 0;
                border: 0;
                font-family: $font-principal;
                font-size: 2rem;
                font-weight: 500;
                background-color:#a1aba1;
    
                &:hover{
                    background-color:#7b847b;
                    color: white;
                    
                }
            }
        }
    }
}

// PRODUCTOS SALE
.product-sale{
    .prod-banner2{
        display: flex;
        height: 7rem;
        position: relative;
        justify-content: start;
        align-items: flex-end;
        background-color:#3b4b513b;

        .prod-banner-title2{
            font-size: 4rem;
            font-family: $font-principal;
            font-weight: 50;
            color: black;
            position: absolute;
            margin-left: 4.8vw;
        }
    }

    h2{
        font-family: $font-principal;
        margin: 1% 0 1% 9%;
        font-size: 3rem;
    }

    .product-container-sale{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        align-content: center;
        // max-width: 100vw;
        margin-bottom: 2%;

        .product-link-sale{
            text-decoration: none;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            .product-img-sale{
                height: 60vh;
                width: 40vw;
                object-fit: cover;
                overflow: hidden;
                max-height: 50vh; 
            }
        } 
        .product-box-sale{
                display: flex;
                justify-content: space-between;

                .product-item-sale{
                    text-decoration: none;

                    .product-name-sale, .product-price-sale{
                        font-family: $font-principal;
                        color: black;
                        font-size: 1.2rem;
                        font-weight: bold;
                        margin-bottom: 0;
                        width: fit-content;
                    }
                }

                .product-action-sale{
                    display: flex;
                    align-items: center;

                    .product-cart{
                        img{
                            height: 2rem;
                            margin: 0.5rem;
                        }
                    }
                    .product-wishlist{
                        img{
                            height: 2rem;
                            margin: 0.5rem;
                        }
                    }
                }
        }
        
    }
}



//-------------------- COLECCION.HTML --------------------//

// CARRUSEL
.carousel-inner{
    margin-top: 6.9rem;
    
    .carousel-item{
        height: 30rem;
        
        img{
            height: 50vh;
            object-fit: cover;
            transition: ease-in-out 0.5ms;
        }

        .carousel-text{
            display: flex;
            justify-content: center;
            align-items:flex-start;

            h2{
                position:absolute;
                z-index: 10;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);
                color:white;
                font-family: $font-principal;
                font-weight: 700;
                font-size: 4rem;
                text-shadow: #6a8474 3px 3px 3px;
            }
        }
    }
}

//COLECCION

// COLECCION TEXTO
.coleccion-texto{
    padding: 1%;
    background-color: #efd7c754;
    width: 100vw;
    
    p{
        font-family: $font-principal;
        font-size: 1.3rem;
        font-weight: bold;
        padding-left: 1%;
        padding-right: 1%;
    }
}



//-------------------- NUESTRA HISTORIA.HTML --------------------// 

// SECCION HISTORIA
.historia-section{
    display: flex;
    justify-content: center;
    align-items: center;

    .historia-title{
        margin-top: 9rem;
        font-family: $font-logo;
        font-size: 10rem;
        color: #3b4b51;
    }
}

.historia{
    display: grid;
    font-family: $font-principal;
    font-size: 1.3rem;
    height: auto;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: fit-content 38% fit-content fit-content;
    grid-template-areas:
    "historia-container historia-container historia-container"
    "historia-img historia-img historia-img"
    "historia-parrafo historia-parrafo historia-parrafo"
    "historia-logo historia-logo historia-logo";

    .historia-container{
        grid-area: historia-container;
        padding: 2%;

        &::first-letter{
            font-size: 3rem;
            font-weight: bolder;
            font-family: $font-logo;
        }
    }

    .historia-img{
        overflow: hidden;
        grid-area: historia-img;
        display: grid;
        grid-template-columns: 25% 25% 50%;
        grid-template-areas: 
        "h-i-1 h-i-2 h-i-3";
        margin-bottom: 2%;
        view-timeline-name: --imagen;
        view-timeline-axis: block ;
        animation-timeline: --imagen;
        animation-name: slide-up;
        animation-range: entry 30% cover 50%;
        animation-fill-mode: both;
        

        .h-i-1{
            grid-area: h-i-1;
            padding: 3%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        
        .h-i-2{
            grid-area: h-i-2;
            padding: 3%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        
        .h-i-3{
            grid-area: h-i-3;
            padding: 1.5%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }

    .historia-parrafo-img{
        grid-area: historia-parrafo;
        padding: 1%;
        justify-content: space-around;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
        "parrafo h-i-4";

            p{
                grid-area:parrafo
            }

            .h-i-4{
                grid-area: h-i-4;
                opacity: 1;
                width: 90%;
                margin-left: 4%;
                view-timeline-name: --imagen;
                view-timeline-axis: block ;
                animation-timeline: --imagen;
                animation-name: slide-in;
                animation-range: entry 30% cover 55%;
                animation-fill-mode: both;
            }
        
    }

    .historia-img2{
        display: flex;
        flex-direction: column;
        grid-area: historia-img2;
        justify-content: space-around;
        
        
    }
    
    .historia-logo{
        grid-area: historia-logo;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: fit-content 70%;
        grid-template-areas:
        "logo-descripcion logo-descripcion logo-descripcion"
        "h-i-5 h-i-6 h-i-7";
        margin: 2%;

        .logo-descripcion{
            grid-area: logo-descripcion;
            width: 100%;
            margin-bottom: 2%;
        }

        .h-i-5{
            grid-area: h-i-5;
            opacity: 1;
            width: 90%;
            padding: 10%;
        }
        
        .h-i-6{
            grid-area: h-i-6;
            opacity: 1;
            width: 90%;
            padding: 10%;
        }
        .h-i-7{
            grid-area: h-i-7;
            opacity: 1;
            padding: 10%;
            width: 90%;
        }
    }
}

@import "./partials/_queries.scss";
