/* MEDIA QUERIES */
@media (orientation: landscape) and (max-height : 480px) {
    .barra-principal, .barra-secundaria{
        display: none;
    }
    .barra-nav-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100vw;
    }
    .barra-iconos-1, .barra-nav-mobile img{
        height: 3rem;
        margin: 2%;
    }
    .barra-title{
        margin: 0;
    }
    .barra-iconos2{
        display: none;
    }
    .prod-banner{
        height: 150px;
        margin-top: 3.4rem;
    }

    .banner-container h2{
        font-size: 5rem;
    }
    .banner-container button{
        font-size: 1.5rem;
        height: 2.5rem;
        width: 8rem;
    }
    .product-img{
        width: 25rem;
        object-fit: cover;
    }
    .product-link{
        text-decoration: none;
        height: auto;
    }
    .product-wishlist img, .product-cart img{
        height: 1.5rem;
    }
}

@media (max-width : 480px) {
    .barra-principal, .barra-secundaria{
        display: none;
    }
    .barra-mobile #check-menu:checked ~ .barra-ul{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 55vh;
        width: 70vw;
        left: 0;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.365);
    }
    .barra-mobile{
        display: flex;
    }

    .barra-nav-mobile{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5rem;
        width:100vw;
    }
    .barra-nav-mobile img, .barra-iconos-1{
        height: 2.5rem;
    }
    .barra-title{
        margin: 0;
    }
    .banner-title{
        display: flex;
        flex-direction: column;
        font-size: 8rem;
    }
    .temporada-container{
        width: 100%;
    }
    .temporada-img{
        margin: 5%;
    }
    .footer{
        height: auto;
    }
    .footer-img{
        height: 2rem;
        line-height: 0;
    }
    .footer-div{
        margin-top:1.2rem ;
    }
    .footer-div2 {
        margin-bottom: 1.2rem;

    }
    .barra-redes {
        gap:0;
        max-width: 100vw;
        
    }
    .barra-redes a{
        height: 3.4rem;
    }
    .barra-redes img{
        height: 3.5rem;
        width: 3.5rem;
    }
    .ending{
        padding: 1rem;
    }
    .ending-barra{
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .newsletter-div{
        margin-bottom: 1rem;
    }
    
    
    .prod-banner{
        height: 150px;
        margin-top: 3.4rem;
    }
    
    .banner-container h2{
        font-size: 8rem;
        
    }
    .product-img{
        height: 60vh;
        width: 80vw;
    }
    .product-wishlist img{
        margin: 0.5%;
    }
    .carousel-inner{
        margin-top: 3.4rem;
    }
}

@media (max-width : 768px){
    .ending-barra{
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .newsletter-map{
        width: fit-content;
    }
    .product-container{
        padding: 0.5%;
    }
    .product-img{
        height: 44vh;
        width: auto;
        max-height: 70vh; 
        max-width: 40vw;
    }
}