
/* MEDIA QUERIES */

@media (orientation: landscape) and (max-height : 480px) {

    //---------- INDEX ----------//
    //Header
    .barra-principal, .barra-secundaria{
        display: none;
    }
    .barra-mobile #check-menu:checked ~ .barra-ul{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 75vh;
        width: 40vw;
        left: 0;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.365);
        padding-top: 1rem ;
    }
    .barra-nav-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        width: 100vw;

        .barra-iconos-1, img{
            width: 2.5rem;
            margin: 3%;
        }

        .barra-title{
            margin: 0;
        }
    }

    .barra-principal{
        .barra-title{
            margin: 0;
        }
        .barra-iconos2{
            display: none;
        }
    }

    //Main
    .temporada{
        .temporada-title{
            font-size: 2rem;
        }
    }

    .newsletter{
        .map-container{
            min-height: 10rem;
            
            .newsletter-map{
                min-height: 10rem;
            }
        }

    }

    .ending{
        .ending-barra{
            flex-wrap: wrap;
            gap: 0.2rem;
            margin-bottom: 0.5rem;
        }
    }


    //---------- PRODUCTOS ----------//
    .prod-banner{
        height: 150px;
        margin-top: 3.4rem;
    }

    .product{
        .product-container{
            .product-link{
                text-decoration: none;
                height: auto;

                .product-img{
                    width: 25rem;
                    object-fit: cover;
                }
            }
        }
    }


    //---------- SALE ----------//
    .sale-banner{
        .banner-container{
            div{
                h1{
                    font-size: 5rem;
                }
            }
             
        }
        .banner-container button{
            font-size: 1.5rem;
            height: 2.5rem;
            width: 8rem;
        }
    }
    
    .product-sale{
        .product-wishlist img, .product-cart img{
            height: 1.5rem;
        }
    }
    

    //---------- COLECCION ----------//
    .carousel-inner{
        margin-top: 5rem;
        .carousel-item{
            img{
                height: 100vh;
            }
        }
    }
    .carousel-text h2{
        top:5%;
    }
}




@media (max-width : 480px) {

    //---------- INDEX ----------//
    .barra-principal, .barra-secundaria{
        display: none;
    }

    .barra-mobile #check-menu:checked ~ .barra-ul{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        height: 55vh;
        width: 70vw;
        left: 0;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.365);
        padding-top: 1rem ;
    }

    .barra-mobile{
        display: flex;

        .barra-nav-mobile{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 5rem;
            width:100vw;
    
            img, .barra-iconos-1{
                height: 2.5rem;
            }

            .barra-title{
                margin-left: 0;
            }
        }
    }
    
    .banner{
        .banner-title{
            display: flex;
            flex-direction: column;
    
            p{
                font-size: 7rem;
            }
        }
    }

    .temporada{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;

        .temporada-title{
            font-size: 3.8rem;
        }
        
        .temporada-fotos{
            .temporada-container{
                width: 100vw;
                display:flex;
                justify-content: center;
        
                .temporada-img{
                    height: 32rem;
                    padding: 10%;
                    width:100vw;

                    &:hover{
                        display: none;
                    }
                }
    
                .temporada-texto{
                    margin: 0px;
                    width: 100vw;
                }
            }
        }
       
    }

    .newsletter{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 5%;
        
        .newsletter-div{
            margin-bottom: 1rem;
        }
    }
    
    .footer{
        height: auto;
        gap:0;
        
        .footer-div{
            margin-top:1.2rem ;
        }

        .footer-div2 {
            margin-bottom: 1.2rem;
    
            .barra-redes {
                gap:0rem;
                width: 95vw;

                    .footer-img a{ 
                        // height: 2rem;
                        line-height: 0;
                        width: 90vw;
    
                    img{
                        height: 5rem;
                        width: 5rem;
                    }
               }
            }   
        }
    }
   
    .ending{
        padding: 1rem;
        
        .ending-barra{
            gap: 0.2rem;
            margin-bottom: 0.5rem;
        }
    }
    
    //---------- PRODUCTOS ----------//
    .product{
        .product-container{
            flex-direction: column;

            .product-link{
                width: 100vw;
                padding: 5%;

                .product-img{
                    height: 60vh;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    //---------- SALE ----------//
    .sale-banner{
        .banner-container{
            img{
                height: 95vh;
                object-fit: cover;
                background-position: bottom;
            }
            div{
                h1{
                    font-size: 8rem;
                    left: 50%;
                    top:60%
                }
                button{
                    margin-top: 5%;
                    left:50%
                }
            }
        }
    }
     
    .product-sale{

        .product-container-sale{
            width: 100vw;
            padding: 5%;

            .product-link-sale{
                
                .product-img-sale{
                    height: 60vh;
                    width: 80vw;
                    max-width: 100%;
                }
                
                .product-box-sale{
                    .product-action-sale{
                        .product-wishlist img{
                            margin: 0.5%;
                        }
                    }
                }
            }
        }
    }

    .prod-banner{
        height: 150px;
        margin-top: 3.4rem;
    }
    

    //---------- COLECCION ----------//
    .carousel-inner{
        margin-top: 3.4rem;
    }

    //---------- NUESTRA HISTORIA ----------//
    .historia-section{
        .historia-title{
            font-size: 5rem;
            margin-top: 7rem;
        }
    }

    .historia{
        .historia-container{
            p{
                padding: 3%;
            }
        }
        .historia-img{
            display: flex;
            flex-direction: column;    
        }
        .historia-parrafo-img{
            display: flex;
            flex-direction: column;

            .h-i-4{
                overflow: hidden;
            }
        }
    }
}




@media (max-width : 768px){
    .ending-barra{
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .newsletter-map{
        width: fit-content;
    }
    .product-container{
        padding: 0.5%;

        .product-img{
            height: 44vh;
            width: auto;
            max-height: 70vh; 
            max-width: 40vw;
        } 
    }
       
    
    // NUESTRA-HISTORIA
    .historia{
        .historia-container{
            p{
                padding: 3%;
            }
        }
        .historia-img{
            display: flex;
            flex-direction: column;    
        }
        .historia-parrafo-img{
            display: flex;
            flex-direction: column;
        }
    }
}




@media (max-width : 900px){
    .historia{
        .historia-container{
            p{
                padding: 3%;
            }
        }
        .historia-img{
            display: flex;
            flex-direction: column;    
        }
        .historia-parrafo-img{
            display: flex;
            flex-direction: column;
        }
    }
}